<h3>Profile</h3>
<p>Name: <%= @user.name if @user.name %></p>

<div>
 <p>Pending requests: </p>

</div>

<div>
 	<p>My pets: </p>
 	<% @user.pets.each do |p| %>
	<li>Name: <%= p.name%>
	<% end %>
</div>

<p><%= link_to 'Add a pet:', new_pet_path(:curr_user=>@user.id) %> </p>
